.App {
  text-align: center;
  height: auto;
  background-color: #1B264F
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.Portfolio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioItem{
  height: 600px;
  width: 90%;
  margin: 120px 10px;
  text-align: center;
  background-color: #576CA8;
}

p {
  background-color: #222;
  padding: 15px;

  border-radius: 5px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
